.product {
  display: flex;
  justify-content: flex-start;
  .productImg {
    height: 45rem;
    padding: 20px;
  }
  .productDetails {
    padding: 20px;
    .productSeller {
      font-size: large;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .productName {
      font-size: medium;
      font-style: italic;
      color: gray;
      padding-bottom: 10px;
    }
    .productDescription {
      font-size: medium;
      padding-bottom: 100px;
    }
    .fewAlert {
      color: red;
      font-weight: 800;
    }
    .priceDetails {
      display: flex;
      font-size: medium;
      justify-content: flex-start;
      padding: 10px;
      border-top: 1px solid rgb(117, 117, 112);

      .priceListing {
        font-weight: 600;
        padding-right: 10px;
      }
      .priceMrp {
        color: gray;
        font-size: small;
        padding-right: 10px;
        margin-top: 2px;
        text-decoration: line-through;
      }
      .priceDiscount {
        color: red;
        margin-top: 2px;
        font-size: small;
      }
    }
  }
}
