.typeFilter {
  position: relative;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;

  .icon {
    padding-top: 8px;
  }
}

.optionsSet {
  display: flex;
  justify-content: flex-start;
  .option {
    padding: 15px;
    .labelClass {
      margin-right: 5px;
    }
  }
}

.functionBtns {
  display: flex;
  justify-content: flex-start;
  .filterClick {
    text-decoration: underline;
    color: red;
    padding-left: 10px;
    cursor: pointer;
  }
}
