.navBar {
  .navBarDashboard {
    .filters {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .filterButton {
      display: flex;
      justify-content: flex-start;
    }
  }
}
