@import "~bootstrap/scss/bootstrap";

.full-page-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full-page-loader > img {
  animation: 1.8s infinite heartbeat;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


// Then add additional custom code here

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiButton-contained, .MuiButton-text, .MuiButton-outlined {
  text-transform: capitalize !important;
  font-weight: bold !important;
}

.box-div {
  margin: 8px;
  padding: 8px;
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.2705882353)
}
